*{
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Vollkorn', Georgia, serif;
}



img{
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

/*grid Global*/

.container{  
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: 
  "sidenav conteudo anuncio"
  ;
  max-width: 1500px;
  margin: 0px auto;
}


/*Cabeçalho*/
.header{
  grid-area: header;
  background: linear-gradient(135deg, #47709F, #47799F);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

#logo{
  background: none;
}

.header nav ul{
 display: flex;
 flex-wrap: wrap;
}

.header a{
  display: block;
  padding: 10px;
  color: #f0f8ff;
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  transition: .1s;
}

.header a:hover{
  background: rgba(0, 0, 0, .5);
}
.header p{
  color: #f0f8ff;
}

.header li + li{
  margin-left: 30px;
}

.alinhamentoLogo{
  max-width: 200px;
  text-align: center;
}
/*Fim do Cabeçalho*/

/*Sidenav*/
.sidenav{
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a{
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0px auto 30px auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: .1s ease-out;
}

.sidenav li a:hover{
  background: #47799F;
}

.sidenav .iconesPersonagens{
  max-height: 100px;
  min-width: 60px;
  min-height: 60px;
  object-fit: cover;
}

/*Fim do Sidenav*/

/*Conteudo*/

.conteudo{
  grid-area: conteudo;
  max-width: 900px;
  margin: 0px auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: end;
}

.colunaExpansiva{
  grid-column: 1/-1;
}

.img1{
  grid-row: span 2;
  align-self: end;
  object-fit: cover;
}

.img2{
  align-self: end;
}

/*Fim do conteudo*/

/*Estilos textos conteudo*/

.titulo{
  color: #47709F;
  max-width: 25ch;
}

.titulo h1{
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
}

.titulo span{
  font-size: .875rem;
  font-style: italic;
}

p{
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005rem;
  color: rgba(0, 0, 0, .7);
}

.informacoes p + p{
  margin-top: 30px;
}

/*Fim Estilos textos conteudo*/

/*Caracteristicas*/

.caracteristicas{
  display: flex;
  align-items: flex-start;
}

.caracteristicas > div {
  width: 80px;
  text-align: center;
  background:linear-gradient(135deg, #47709F, #47799F);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
}

.caracteristicas > div:first-child{
  margin-right: 30px;
}

.caracteristicas span{
  display: block;
  color: #36688F;
}

.formato{
  font-size: 3rem;
  line-height: 1;
  margin: 10px auto;
}


.quantidade{
  background: #f0f8ff;
  border-radius: 0px 0px 5px 5px;
  padding: 5px 0px;
  position: relative;
  top: 2px;
}

.destaque{
  font-size: .875rem;
  color: #47709F;
  max-width: 16rem;
}

.citacao, .atributos{
  align-self: start;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #47709F, #47799F);
}

.citacao p{
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0px auto;
  color: #f0f8ff;
}

.atributos li{
  color: #f0f8ff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125rem;
  padding: 15px;
}

.atributos li +li {
  border-top: 2px dotted #36688F;
}

/*Anuncio*/
.anuncio{
  grid-area: anuncio;
  background: #fafbfc;
  padding: 30px;
  display: grid;
  gap: 30px;
  align-content: start;
}

/*Fim do anuncio*/
footer{
  grid-area: footer;
  background: linear-gradient(135deg, #47709F, #47799F);
  
}

footer p{
  color:#f0f8ff;
  text-align: center;
  padding: 30px;
}
footer a{
  color:#f0f8ff;
}
footer a:hover{
  color: #ffffff;
}

/*Responsividade*/

@media(max-width: 1200px){
  .container{  
    grid-template-areas: 
    "sidenav conteudo conteudo"
    "anuncio anuncio anuncio"
    ;
  }

  nav img{
    object-fit: fill;
    object-position: center;
    height: 100%;
  }

  .anuncio{
    display: flex;
    
  }
}

@keyframes seta{
  from{
    right: 30px;
  }
  to{
    right: 20px;
  }
}

@media(max-width: 760px){

  .sidenav{
    overflow-x: auto;
    overflow: scroll;
    position: relative;
  }

.sidenav::after{
  content: "→";
  position: absolute;
  top: 5px;
  right: 30px;
  color: rgba(0, 0, 0, .3);
  animation: seta .5s ease-in 0s infinite alternate;
}

  .header{
    grid-template-columns: auto;
  }

  .header nav a{
    font-size: 1rem;

  }

  .header li + li{
    margin-left: 10px
  }
  .alinhamentoLogo{
    margin-bottom: 20px;
  }

 

  .sidenav ul{
    display: flex;
  }

  .sidenav ul li{
    flex: 1 0 70px;
  }

  .sidenav{
    padding: 0px 30px;
  }

  .sidenav li a{
    margin: 30px 30px 30px 0px;
  }

  .container{
    grid-template-columns: 1fr;
    grid-template-areas: "sidenav"
    "conteudo"
    "anuncio";
  }
  .destaque{
    font-size: 1.125rem;
  }
}

@media(max-width: 600px){
 
  .header nav ul{
    justify-content: center;
  }

  .conteudo{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .destaque{
    text-align: center;
  }
}
/*Fim da responsividade*/